<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"/>
    <title>漏洞情报平台</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta
            content="width=device-width, initial-scale=1, maximum-scale=1"
            name="viewport"
    />
    <meta content="IE=Edge" http-equiv="X-UA-Compatible"/>
    <link href="/static/css/sdk.css" rel="stylesheet"/>
    <link href="/static/css/helper.css" rel="stylesheet"/>
    <link href="/static/css/iconfont.css" rel="stylesheet"/>
    <!-- 这是默认主题所需的，如果是其他主题则不需要 -->
    <!-- 从 1.1.0 开始 sdk.css 将不支持 IE 11，如果要支持 IE11 请引用这个 css，并把前面那个删了 -->
    <!-- <link rel="stylesheet" href="sdk-ie11.css" /> -->
    <!-- 不过 amis 开发团队几乎没测试过 IE 11 下的效果，所以可能有细节功能用不了，如果发现请报 issue -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>