{% include "header.html" %}
<div id="root" class="app-wrapper"></div>
<script src="/static/js/sdk.js"></script>

<script type="text/javascript">
    (function () {
        let amis = amisRequire('amis/embed');
        // 通过替换下面这个配置来生成不同页面
        let amisJSON = {
            "type": "page",
            "title": "漏洞查询",
            "body": [
                {
                    "type": "tabs",
                    "tabs": [
                        {
                            "title": "漏洞信息查询",
                            "body": [
                                

                                {
                                    "type": "crud",
                                    "api": {
                                        "method": "post",
                                        "url": "/post_form",
                                        "dataType": "form-data"
                                    },
                                    "syncLocation": false,
                                    "autoGenerateFilter": true,
                                    "perPage": 20,
                                    "headerToolbar": [
                                        {
                                            "type": "columns-toggler",
                                            "align": "right",
                                            "draggable": true,
                                            "icon": "fas fa-cog",
                                            "overlay": true,
                                            "footerBtnSize": "sm"
                                        },
                                        "bulkActions",
                                        "reload"
                                    ],
                                    "bulkActions": [],
                                    "footerToolbar": ["statistics", "pagination", "switch-per-page",
                                    ],
                                    "columns": [

                                        {
                                            "name": "title",
                                            "label": "漏洞标题"
                                        },
                                        {
                                            "name": "project[0]['project_name']",
                                            "label": "应用名称"
                                        },
                                        {
                                            "name": "level",
                                            "label": "漏洞等级",

                                        },
                                        {
                                            "name": "created_at",
                                            "label": "发布时间",
                                        },

                                        {
                                            "type": "operation",
                                            "label": "操作",
                                            "buttons": [
                                                {
                                                    "label": "查看详情",
                                                    "type": "button",
                                                    "actionType": "ajax",
                                                    "level": "warning",
                                                    "actions": [],
                                                    "api": "get:/detail?id=${mps}",
                                                    "feedback": {
                                                        "size": "lg",
                                                        "body": [
                                                            {
                                                                "type": "table-view",
                                                                "trs": [
                                                                    {
                                                                        "tds": [
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "应用"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${title}"
                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "漏洞类型"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${vuln_type}"
                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "漏洞描述"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${description}"
                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "漏洞等级"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${level}"
                                                                                }
                                                                            },



                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "修复方案"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${soulution_data[0]}"
                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "POC"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${troubleshooting[0]}"
                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "CVE编号"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${cve_id}"
                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "漏洞版本"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${effect}",

                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                    {
                                                                        "tds": [
                                                                            {

                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "参考链接"
                                                                                }
                                                                            },
                                                                            {
                                                                                "body": {
                                                                                    "type": "tpl",
                                                                                    "tpl": "${url}",

                                                                                }
                                                                            },

                                                                        ]
                                                                    },
                                                                ]
                                                            }
                                                        ]
                                                    }
                                                },
                                                {
                                                    "label": "查看原链接",
                                                    "type": "button",
                                                    "actionType": "url",
                                                    "level": "primary",
                                                    "visibleOn": "vul_ref!=''",
                                                    "link": "${vul_ref}"
                                                }


                                            ]
                                        },

                                    ]
                                },


                            ]
                        },
                    ]
                },
                {
                    "type": "alert",
                    "body": "有问题可以联系wx:cqwanhl",
                    "className": "text-center"
                }

            ]
        };
        let amisScoped = amis.embed('#root', amisJSON);
    })();
</script>


{% include "footer.html" %}
